<h2><%= @book.title %></h2>

<strong>Author:</strong> <%= @book.author %>
<strong>Category:</strong> <%= @book.category %>
<strong>Year Published:</strong> <%= @book.year %>
<strong>Description:</strong> <%= @book.description %>

<ul>
  <% @book.reviews.each do |review| %>
    <li>
      <strong>Rating:</strong> <%= review.rating %>
      <strong>Body:</strong> <%= review.body %>
    </li>
  <% end %>
</ul>
