<ul>
  <li><strong>Title:</strong> <%= @book.title %>
  <li><strong>Author:</strong> <%= @book.author.first_name %> <%= @book.author.last_name %></li>
  <li><strong>Category:</strong> <%= @book.category.name %></li>
  <li><strong>Year Published:</strong> <%= @book.year %></li>
  <li><strong>Description:</strong> <%= @book.description %></li>
</ul>

<h3>Reviews</h3>

<ul>
  <% @book.reviews.each do |review| %>
    <li>
      <strong>Rating:</strong> <%= review.rating %>
      <p><%= review.body %></p>
    </li>
  <% end %>
</ul>

<h3>Create Review</h3>

<%= simple_form_for [@book, @review] do |f| %>

  <%= f.input :rating, collection: 1..5 %>
  <%= f.input :body %>

  <%= f.button :submit %>

<% end %>
